body {
  margin: 0;
  background-color: rgb(240, 240, 240);
}
.flex-row {
  display: flex;
  flex-basis: row;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar1 {
  background-color: #FFD600;
  width: 100vw;
  height: 65px;
}
.navbar2 {
  width: 80%;
  background-color: red;
  height: 100%;
}
.navbar-input {
  border: none;
  width: 20%;
  height: 33%;
}












.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
